@media screen and (max-width: 1170px){
    header .top-header {
        padding: 0 15px
    }
    header .header-text {
        width: 100%;
        padding: 0 15px;
    }
}
@media screen and (min-width:900px) {
    header .top-header nav {
        display: block !important;
    }
}

@media screen and (max-width: 900px){
    .menu-btn {
        display: block;
    }
    /*header*/
    header {
        min-height: 600px;
        position: relative;
    }
    header .top-header {
        padding: 20px 15px;
    }
    header .top-header .logo img {
        height: 60px;
        
    }
    header .top-header nav {
        display: none;
        text-align: center;
        margin-right: 40%;
    }
    header .top-header nav ul li {
        display: block;
        margin-left: 0;
        padding: 3px 0;
    }
    header .top-header nav ul li a {
        padding: 0 0;
    }
    
    header .header-text {
        margin-top: 30%;
    }
    header .header-text h1 {
        font-size: 230%;
    }
    
    /*sction-about*/
    .section-about .about-items .about-item {
        width: 50%;
    }
}

@media screen and (max-width: 560px) {
    body {
        font-size: 13px;
    }
    header {
        height: 600px;
    }
    header .header-text {
        margin-top: 40%;
    }
    header .header-text h1 {
        font-size: 140%;
    }
    .btn-score {
        display: block;
        max-width: 300px;
        margin: 0 auto;
        
    }
    .btn-about {
        display: block;
        max-width: 300px;
        margin: 20px auto 10px auto;
    }
    header .top-header nav {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-left: -15px;
        position: absolute;
        top: 30px;
    }
    /*sction-about*/
    .section-about .about-items .about-item {
        width: 100%;
    }
}