@media screen and (max-width: 1170px) {
    .active {
        left: 95%;
    }
    header .top-header {
        padding: 0 15px
    }
    header .header-text {
        width: 100%;
        padding: 0 15px;
    }
}

@media screen and (min-width:900px) {
    header .top-header nav {
        display: block !important;
    }
    
}

@media screen and (max-width: 900px) {
    .menu-btn {
        display: block;
    }
    .active {
        left: 90%;
    }
    /*header*/
    header {
        min-height: 600px;
        position: relative;
    }
    header .top-header {
        padding: 20px 15px;
    }
    header .top-header .logo img {
        height: 60px;

    }
    header .top-header nav {
        display: none;
        text-align: center;
        margin-right: 40%;
    }
    header .top-header nav ul li {
        display: block;
        margin-left: 0;
        padding: 3px 0;
    }
    header .top-header nav ul li a {
        padding: 0 0;
    }

    header .header-text {
        margin-top: 30%;
    }
    header .header-text h1 {
        font-size: 210%;
    }
    /*header white*/
    header .top-header-white {
        padding: 10px ;
    }
    header .top-header-white .menu-btn{
        top: 10px
    }
    header .top-header-white .logo img {
        height: 50px;
    }
    /*sction-about*/
    .section-about .about-items .about-item {
        width: 50%;
    }
    /*section-order*/
    .section-order .left {
        text-align: center;
        padding-bottom: 40px;
    }
    .section-order .order-item {
        width: 100%;
        float: none;
        text-align: center;
    }
    .section-order .order-item a.order-btn {
        margin: 10px 0 0 0;
    }
    .section-order .order-item ul {
        padding: 0;
        margin: 0;
    }
    .section-order .order-item ul li p {
        margin: 10px 20px 0 0;
        width: 100%;
    }

    /*footer*/
    footer .footer-items .footer-item {
        width: 48%;
    }
    footer .footer-items .footer-item:first-child {
        display: none;

    }

}

@media screen and (max-width: 800px) {

    /*about*/
    .section-about .gallery ul li {
        width: 50%;
        margin: -11px 0;
    }
    .section-about .gallery ul li img  {
        opacity: 1;
    }
    .section-about .gallery ul li.none {
        display: none;
    }
    .section-about .about-items .about-item p {
        font-size: 100%;
    }
    .section-about .about-items .about-item a {
        font-size: 120%;
    }
    /*section-order*/
    .section-order {
        padding: 20px 0 0 0;
    }
    .section-order .order-item  {
        padding:  10px 0;
    }
    .section-order .order-item ul li {
        margin: 10px 0 10px 20px;
    }
    .section-order .order-item ul li p.num {
        width: 40px;
        height: 40px;
        line-height: 37px;
    }

    /*section-contacts*/
    .section-contacts .contact-items .contact-item {
        width: 90%;
        margin: 0 auto;
    }
    .section-contacts .contact-items .contact-item img {
        width: 30px;
        top: 10px;
    }
    .section-contacts .contact-items .contact-item ul {
        margin-top: 15px;
    }
    /*footer*/
    footer .footer-items .footer-item {
        width: 90%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 560px) {
    
    header {
        min-height: 550px;
    }
    header .header-text {
        margin-top: 34%;
    }
    header .header-text h1 {
        font-size: 140%;
    }
    .btn-score {
        display: block;
        max-width: 300px;
        margin: 0 auto;

    }
    .btn-about {
        display: block;
        max-width: 300px;
        margin: 20px auto 10px auto;
    }
    header .top-header .logo img {
        height: 50px;
        
    }
    header .top-header nav {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-left: -15px;
        position: absolute;
        top: 30px;
        
    }
    a.menu-btn {
        top: 15px
    }
    /*top-header-white*/
    header .top-header-white {
        padding: 5px 0;
    }
    header .top-header-white .logo img {
        margin-left: 5px
    }
    header .top-header-white nav {
        float: none;
        background: #fff;
        width: 105%;
        top: 50px;
        margin-left: 0;
        left: -10px;
        
    }
    /*sction-about*/
    .section-about .about-items .about-item {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .active {
        left: 85%;
    }
    header {
        height: 250px;
    }
    header .top-header {
        padding: 5px;
    }
    header .top-header nav  {
            margin-top: -28px;
    }
    header .top-header-white nav {
        margin-top: 4px;
    }
    header .top-header-white nav ul li {
        margin-left: -20px;
    }

    header .header-text {
        margin-top: 34%;
    }
    
    .section-contacts {
        padding-top: 0;
    }
    
    footer {
        padding: 20px 0 10px 0;
    }
}
