html, body, div, span, object, iframe, img, strong, b, u, i, table, tbody, tfoot, thead, td, th, tr form, label, legend, header, footer, article, section, aside {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

table, td, th, tr {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

input, select, textarea {
  font-family: "Open Sans", arial, helvetica, sans-serif;
  font-weight: 400;
  color: #000;
}

button {
  font-family: arial, helvetica, sans-serif;
  font-weight: 400;
  color: #000;
  cursor: pointer;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
}

.clear {
  clear: both;
  font-size: 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  background: #fff;
  min-width: 360px;
}

.container {
  width: 100%;
  max-width: 1170px;
  min-width: 360px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.clearfix {
  zoom: 1;
  clear: both;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

h2 {
  font-weight: 300;
  font-size: 200%;
  text-align: center;
}
h2:after {
  content: "";
  background-color: #e67e22;
  display: block;
  width: 100px;
  height: 2px;
  margin: 0 auto;
  margin-top: 30px;
}

/*navigation btn */
.menu-btn {
  position: absolute;
  top: 40px;
  right: 20px;
  display: inline-block;
  width: 32px;
  height: 32px;
  display: none;
}

.not-active {
  background: url(img/menu.png) 50% 50% no-repeat;
}

.is-active {
  background: url(img/close.png) 50% 50% no-repeat;
}

/*header btns */
.btn-score {
  background: #e67e22;
  padding: 10px 40px;
  text-decoration: none;
  color: #fff;
  border-radius: 40px;
  font-size: 120%;
  border: 1px solid transparent;
  transition: 0.4s;
}
.btn-score:hover {
  background: #c16718;
}

.btn-about {
  padding: 10px 40px;
  text-decoration: none;
  color: #e67e22;
  border: 1px solid #e67e22;
  border-radius: 40px;
  font-size: 120%;
  margin-left: 20px;
  transition: 0.4s;
}
.btn-about:hover {
  background: #e67e22;
  color: #fff;
}

header {
  background-image: url(img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 795px;
  margin: 0;
  padding: 0;
  position: relative;
}
header .top-header {
  width: 100%;
  padding: 20px 0 0 0;
  position: relative;
}
header .top-header .logo {
  float: left;
}
header .top-header .logo img {
  width: auto;
  height: 80px;
}
header .top-header nav {
  float: right;
  margin-top: 20px;
}
header .top-header nav ul {
  list-style: none;
}
header .top-header nav ul li {
  display: inline-block;
  margin-left: 40px;
}
header .top-header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 120%;
  font-weight: 400;
  padding-bottom: 10px;
  -webkit-border-bottom: 2px solid transparent;
  -moz-border-bottom: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
}
header .top-header nav ul li a:hover {
  -moz-border-bottom: 2px solid #e67e22;
  -webkit-border-bottom: 2px solid #e67e22;
  border-bottom: 2px solid #e67e22;
}
header .top-header nav ul li .online-score {
  color: #e67e22;
}
header .header-text {
  position: absolute;
  top: 50%;
  margin-top: 17%;
  width: 1170px;
  text-align: center;
}
header .header-text h1 {
  margin-top: 0;
  margin-bottom: 40px;
  color: #fff;
  font-size: 270%;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-weight: 300;
}

.section-about {
  padding: 20px 0 0 0;
}
.section-about .about-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-about .about-items .about-item {
  width: 25%;
  text-align: center;
  padding: 10px 30px;
}
.section-about .about-items .about-item img {
  width: 60px;
  margin-bottom: 20px;
}
.section-about .about-items .about-item a {
  display: block;
  color: #555;
  padding: 0 20px;
}
.section-about .about-items .about-item a:hover {
  color: #e67e22;
}
.section-about .about-items .about-item p {
  font-size: 80%;
}
.section-about .gallery {
  margin: 0;
  padding: 0;
}
.section-about .gallery ul {
  padding: 0;
}
.section-about .gallery ul li {
  display: block;
  float: left;
  width: 25%;
  margin: -2px 0;
  overflow: hidden;
  background: #000;
}
.section-about .gallery ul li img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  transition: 0.4s;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}
.section-about .gallery ul li img:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

.section-order {
  margin-top: -13px;
  padding: 40px 0;
  background: #f4f4f4;
  position: reletive;
}
.section-order .left {
  text-align: left;
  padding-bottom: 70px;
}
.section-order .order-item {
  width: 50%;
  float: left;
  text-align: right;
}
.section-order .order-item a.order-btn {
  width: 270px;
  margin: 80px 0 0 60px;
  background: #e67e22;
  padding: 10px 25px;
  color: #fff;
  border-radius: 40px;
  display: inline-block;
  text-decoration: none;
  transition: 0.4s;
}
.section-order .order-item a.order-btn:hover {
  background: #b46927;
  color: #fff;
}
.section-order .order-item img {
  width: 220px;
}
.section-order .order-item ul {
  text-align: left;
  list-style: none;
}
.section-order .order-item ul li {
  margin: 37px 0 37px 20px;
}
.section-order .order-item ul li p {
  margin: 10px 20px 0 0;
  width: 400px;
}
.section-order .order-item ul li p a {
  text-decoration: none;
  color: #555;
  transition: 0.3s;
}
.section-order .order-item ul li p a:hover {
  color: #e67e22;
}
.section-order .order-item ul li p.num {
  margin-top: 0;
  color: #e67e22;
  font-size: 130%;
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
  -webkit-border: 2px solid #e67e22;
  -moz-border: 2px solid #e67e22;
  border: 2px solid #e67e22;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
}

.section-contacts {
  background: #fff;
  padding: 20px 0 20px 0;
}
.section-contacts .contact-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section-contacts .contact-items .contact-item {
  width: 33.3%;
  position: relative;
}
.section-contacts .contact-items .contact-item img {
  width: 35px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.section-contacts .contact-items .contact-item ul {
  list-style: none;
  padding-left: 60px;
}
.section-contacts .contact-items .contact-item ul li {
  margin: 5px 0;
  transition: 0.3s;
}
.section-contacts .contact-items .contact-item ul li:hover {
  color: #e67e22;
}
.section-contacts .contact-items .contact-item ul li a {
  text-decoration: none;
  color: #555;
  transition: 0.3s;
}
.section-contacts .contact-items .contact-item ul li a:hover {
  color: #e67e22;
}
